{
  "parser": "@babel/eslint-parser",
  "extends": [
    "eslint:recommended"
  ],
  "plugins": [
    "classes",
    "prettier"
  ],
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jasmine": true
  },
  "rules": {
    "classes/name": [
      2,
      "class",
      "method"
    ],
    "no-console": 0,
    "require-jsdoc": 0,
    "no-unused-vars": 0,
    "no-sparse-arrays": 0
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": "*.ts",
      "parser": "@typescript-eslint/parser",
      "rules": {
        "no-undef": 0
      }
    }
  ]
}